:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}

[data-theme="dark"] {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

.text-custom{
    font-family: 'Poppins',sans-serif;
    color: var(--secondary-color) !important;
}
.navbar-brand{
    color: var(--primary-color) !important;
}

.navbar-bg{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.nav-link {
    color: var(--primary-color) !important;
}
.bg-custom-input{
    background-color: var(--primary-color) !important;
}
body {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}
